<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>982805169915-6aksve3hncp501h7e4c4aitb8m9ore1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982805169915-6aksve3hncp501h7e4c4aitb8m9ore1i</string>
	<key>API_KEY</key>
	<string>AIzaSyB2mvIPPm3KMUzmy0EyJHp6v5Nv-y9iA0s</string>
	<key>GCM_SENDER_ID</key>
	<string>982805169915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homebodies.HomeAwayHack</string>
	<key>PROJECT_ID</key>
	<string>hostalaway-1aa2e</string>
	<key>STORAGE_BUCKET</key>
	<string>hostalaway-1aa2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982805169915:ios:013ab425298ecd70</string>
	<key>DATABASE_URL</key>
	<string>https://hostalaway-1aa2e.firebaseio.com</string>
</dict>
</plist>